<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]" />
    <arg name="x_pos" default="-2.0" />
    <arg name="y_pos" default="-0.5" />
    <arg name="z_pos" default="0.0" />

    <arg name="map_file" default="$(find mechlmm_bringup)/maps/map.yaml"/>
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mechlmm_bringup)/worlds/demo.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <param name="robot_description"
        command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
        args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>

    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find mechlmm_bringup)/rviz/demo.rviz"/>
    </group>

</launch>


<!-- enery can
pose: 
  position: 
    x: -0.7674800157546997
    y: -1.966954231262207
    z: 0.0
  orientation: 
    x: 0.0
    y: 0.0
    z: -0.15581335139591654
    w: 0.9877865151573859


drone
pose: 
  position: 
    x: -0.868584930896759
    y: -0.8731806874275208
    z: 0.0
  orientation: 
    x: 0.0
    y: 0.0
    z: -0.047013321730512654
    w: 0.9988942624621804

stop sign
pose: 
  position: 
    x: 0.49173858761787415
    y: 0.6525877118110657
    z: 0.0
  orientation: 
    x: 0.0
    y: 0.0
    z: -0.026288548254380737
    w: 0.9996543963944124 -->
